<div class="users-container">
    <div class="chat-search-box">
        <div class="input-group">
            <input class="form-control" placeholder="Search">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let activeUser of activeUsers">
        <ul class="users">
            <li class="person" data-chat="person1" (click)="selectUser(activeUser)">
                <div class="user">
                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="Retail Admin">
                    <span class="status online"></span>
                </div>
                <p class="name-time" [ngClass]="{'red-name-time': activeUser.userEmail === loginUser.userEmail}">
                    <span class="name">{{activeUser.userName}}</span>
                    <span class="time">15/02/2019</span>
                </p>
            </li>
        </ul>
    </ng-container>
</div>