<div class="users-container chatContainerScroll">
    <div>
        <div class="welcome-container">
            <h2>Welcome, {{ loginUser.userName }}!</h2>
            <p>We’re glad to have you here. Start exploring and enjoy chatting!</p>
        </div>
    <div>
        
    <ng-container *ngFor="let user of userList">
        <ul class="users-list" *ngIf="user.userEmail !== loginUser.userEmail">
            <li class="person" (click)="selectUser(user)">
                <div class="user">
                    <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png" alt="User Avatar">
                    <span class="status online"></span>
                </div>
                <div class="details">
                    <p class="name">{{ user.userName }}</p>
                    <p class="status-text" [ngClass]="isUserActive(user.userEmail) ? 'active-text' : 'inactive-text'">
                        {{ isUserActive(user.userEmail) ? 'Active' : 'Inactive' }}
                      </p>
                    <p class="time">15/02/2019</p>
                </div>
            </li>
        </ul>
    </ng-container>

    <!-- Welcome Message -->
</div>
