<div class="chat-app">
  <!-- Login User Check -->
  <div *ngIf="!loginUser; else userLoggedIn">
    <app-user-login (selectedUserEvent)="setloginUser($event)"
      (selectedUsernameEvent)="setLoginUserName()"></app-user-login>
  </div>

  <ng-template #userLoggedIn>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="chat-container">
      <!-- Page Header -->
      <div class="page-title">
        <h5 class="title">Quick Chats App</h5>
        <i class="fa fa-comments icon"></i>
      </div>

      <!-- Chat Layout -->
      <div>
        <div class="row gutters">
          <div class="col-5">
            <app-user-status [userList]="userList" [loginUser]="loginUser" [activeUsers]="activeUsers"
              (selectedUserEvent)="onUserChangeEvent($event)">
            </app-user-status>
          </div>

          <!-- Chat Box -->
          <div class="col-7">
            <app-chat-box *ngIf="selectedUser; else noUserSelected" [selectedUser]="selectedUser"
              [loginUser]="loginUser">
            </app-chat-box>

            <ng-template #noUserSelected>
              <div class="no-user">
                <p>No user selected. Please select a user to start the chat.</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>