<div class="post-editor">
  <form>
    <div class="form-group">
      <label for="posterName">Poster Name:</label>
      <input 
        type="text" 
        id="posterName" 
        class="form-control" 
        placeholder="Enter your name" 
        [(ngModel)]="post.creatorName" 
        name="posterName" 
        disabled="true"
      />
    </div>
    <div class="form-group">
      <label for="createdTime">Created Time:</label>
      <input 
        type="text" 
        id="createdTime" 
        class="form-control" 
        [(ngModel)]="post.createdDate" 
        name="createdTime" 
        disabled="true"
      />
    </div>
    <div class="form-group">
      <label for="postContent">Post Content:</label>
      <textarea 
        id="postContent" 
        class="form-control" 
        rows="5" 
        placeholder="Write your post here..." 
        [(ngModel)]="post.content" 
        name="postContent" 
        required
      ></textarea>
    </div>
    <div class="form-actions">
      <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </form>
</div>
