<div class="selected-user">
  <span>To: <span class="name">{{ selectedUser.userName }}</span></span>
</div>

<div class="chat-container">
  <ul class="chat-box chatContainerScroll">
    <li
      *ngFor="let message of messages"
      [ngClass]="{
        'chat-left': message.direction === 'left',
        'chat-right': message.direction === 'right'
      }"
    >
      <div class="chat-avatar">
        <img
          [src]="message.profileImage"
          alt="User Avatar"
        />
        <div
          class="chat-name"
          [ngClass]="{ 'font-weight-bold': message.direction === 'left' }"
        >
          {{ message.userName }}
        </div>
      </div>
      <div class="chat-bubble">
        <div class="chat-text">{{ message.content }}</div>
        <div class="chat-hour">
          {{ message.time }}
          <span class="fa fa-check-circle"></span>
        </div>
      </div>
    </li>
  </ul>

  <div class="message-input">
    <input
      class="form-control"
      placeholder="Type your message here..."
      [(ngModel)]="content"
    />
    <button class="send-btn" (click)="onMessageSent()">Send</button>
  </div>
</div>
