<div class="selected-user">
  <span>To: <span class="name">{{selectedUser.userName}}</span></span>
</div>
<div class="chat-container">
  <ul class="chat-box chatContainerScroll">
    <li *ngFor="let message of messages" [ngClass]="{'chat-left': message.direction === 'left', 'chat-right': message.direction === 'right'}">
      <div class="chat-avatar">
        <img
          src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
          alt="User Avatar"
        />
        <div class="chat-name" [ngClass]="{'font-weight-bold': message.direction === 'left'}">
          {{message.senderName}}
        </div>
      </div>
      <div class="chat-text">
        {{message.content}}
      </div>
      <div class="chat-hour">{{message.time}} <span class="fa fa-check-circle"></span></div>
    </li>
  </ul>
  <div class="form-group mt-3 mb-0">
      <input class="form-control" rows="3" placeholder="Type your message here..." [(ngModel)]="content"/>
      <button (click)="onMessageSent()">send</button>
  </div>
</div>
