<app-navbar></app-navbar>
<!-- Main Layout -->
<div class="layout-container">
  <!-- Sidebar -->
  <app-profile-section [loggedInUser]="loggedInUser"></app-profile-section>
  <!-- Main Feed -->
  <main class="main-feed">
    <!-- New Post Box -->
    <mat-card class="post-public-card custom-post-card">
      <mat-card-header>
        <mat-card-title class="fancy-title">What's on your mind today?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <textarea matInput placeholder="What's on your mind?" [(ngModel)]="newPostContent" rows="4" maxlength="200"
          class="post-textarea">
        </textarea>
        <div class="char-counter">{{ newPostContent?.length || 0 }}/200</div>
      </mat-card-content>
      <mat-card-actions class="action-buttons">
        <button mat-raised-button color="primary" (click)="postPublicly()">Post</button>
      </mat-card-actions>
    </mat-card>
    <app-trending-post></app-trending-post>
  </main>
</div>