<div class="posts-wrapper">
  <div class="post-card" *ngFor="let post of trendingPosts">
    <div class="post-header">
      <img class="post-avatar"
        [src]="post.creatorImage || 'https://api.dicebear.com/7.x/avataaars/svg?seed=' + post.creatorName"
        (error)="$any($event.target).src='https://api.dicebear.com/7.x/avataaars/svg?seed=default'" alt="avatar" />
      <div class="post-meta">
        <span class="post-author">{{ post.creatorName }}</span>
        <span class="post-time">{{ post.createdDate | date: 'MMM d' }}</span>
      </div>
    </div>
    <p class="post-body">{{ post.content }}</p>
    <div class="post-footer">
      <span class="reaction"><mat-icon>thumb_up</mat-icon> {{ post.likeCount }}</span>
      <span class="reaction"><mat-icon>thumb_down</mat-icon> {{ post.dislikeCount }}</span>
    </div>
  </div>

  <div class="empty" *ngIf="trendingPosts.length === 0">
    <mat-icon>article</mat-icon>
    <p>No posts yet. Be the first to share something!</p>
  </div>
</div>