<app-navbar></app-navbar>
<body>
    <div class="form-container">
        <h2>Hi {{loggedInUser.userName}}, let's update your profile</h2>
        <form (ngSubmit)="updateProfile()" #updateProfileForm="ngForm">
            
            <label for="profile">Upload Profile Picture</label>
            <input type="file" id="profile" name="profile" (change)="onFileSelected($event)" required>

            <label for="title">Professional Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="title" placeholder="Software Developer">
          
            <label for="location">Location</label>
            <input type="text" id="location" name="location" [(ngModel)]="location" placeholder="New York, USA">
          
            <label for="portfolio">Portfolio</label>
            <input type="text" id="portfolio" name="portfolio" [(ngModel)]="portfolio" placeholder="https://www.johnsmith.dev" required>
          
            <label for="instagram">Instagram handle</label>
            <input type="text" id="instagram" name="instagram" [(ngModel)]="instagram" placeholder="@johnsmith.codes" required>
          
            <label for="bio">Bio</label>
            <textarea id="bio"
             name="bio" 
             maxlength="300"
            [(ngModel)]="bio" 
            placeholder="Passionate about building scalable web apps..." required></textarea>
          
            <label for="skills">Skills</label>
            <input type="text" 
            id="skills" 
            name="skills" 
            maxlength="100"
            [(ngModel)]="skills" 
            placeholder="JavaScript, Angular, Node.js" required>
          
            <label for="hobbies">Hobbies</label>
            <input type="text" 
            id="hobbies" 
            maxlength="100"
            name="hobbies" 
            [(ngModel)]="hobbies" 
            placeholder="Traveling, Photography, Open Source Contributions" required>
          
            <button type="submit">Update Profile</button>
          </form>
    </div>
</body>
